<!--
references:
https://www.chartjs.org/docs/latest/getting-started/usage.html
https://www.npmjs.com/package/chartjs-chart-geo

-->
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:insert="fragments/head :: head">
    <title>Stats</title>
</head>

<body class="stats-page">
<div th:replace="fragments/navbar:: navbar"></div>


<div class="wrapper">
    <div class="section section-shaped">
        <div class="navbar-background"></div>
        <div class="page-header">
            <div class="container py-lg px-4">
                <h2>Stats</h2>

                <h2 th:text="${totalDoses} + ' doses have been administered'"></h2>
                <form action="stats" method="post">
                    <select name="nationality">
                        <option value="">Nationality</option>
                        <option value="afghan">Afghan</option>
                        <option value="albanian">Albanian</option>
                        <option value="algerian">Algerian</option>
                        <option value="american">American</option>
                        <option value="andorran">Andorran</option>
                        <option value="angolan">Angolan</option>
                        <option value="antiguans">Antiguans</option>
                        <option value="argentinean">Argentinean</option>
                        <option value="armenian">Armenian</option>
                        <option value="australian">Australian</option>
                        <option value="austrian">Austrian</option>
                        <option value="azerbaijani">Azerbaijani</option>
                        <option value="bahamian">Bahamian</option>
                        <option value="bahraini">Bahraini</option>
                        <option value="bangladeshi">Bangladeshi</option>
                        <option value="barbadian">Barbadian</option>
                        <option value="barbudans">Barbudans</option>
                        <option value="batswana">Batswana</option>
                        <option value="belarusian">Belarusian</option>
                        <option value="belgian">Belgian</option>
                        <option value="belizean">Belizean</option>
                        <option value="beninese">Beninese</option>
                        <option value="bhutanese">Bhutanese</option>
                        <option value="bolivian">Bolivian</option>
                        <option value="bosnian">Bosnian</option>
                        <option value="brazilian">Brazilian</option>
                        <option value="british">British</option>
                        <option value="bruneian">Bruneian</option>
                        <option value="bulgarian">Bulgarian</option>
                        <option value="burkinabe">Burkinabe</option>
                        <option value="burmese">Burmese</option>
                        <option value="burundian">Burundian</option>
                        <option value="cambodian">Cambodian</option>
                        <option value="cameroonian">Cameroonian</option>
                        <option value="canadian">Canadian</option>
                        <option value="cape verdean">Cape Verdean</option>
                        <option value="central african">Central African</option>
                        <option value="chadian">Chadian</option>
                        <option value="chilean">Chilean</option>
                        <option value="chinese">Chinese</option>
                        <option value="colombian">Colombian</option>
                        <option value="comoran">Comoran</option>
                        <option value="congolese">Congolese</option>
                        <option value="costa rican">Costa Rican</option>
                        <option value="croatian">Croatian</option>
                        <option value="cuban">Cuban</option>
                        <option value="cypriot">Cypriot</option>
                        <option value="czech">Czech</option>
                        <option value="danish">Danish</option>
                        <option value="djibouti">Djibouti</option>
                        <option value="dominican">Dominican</option>
                        <option value="dutch">Dutch</option>
                        <option value="east timorese">East Timorese</option>
                        <option value="ecuadorean">Ecuadorean</option>
                        <option value="egyptian">Egyptian</option>
                        <option value="emirian">Emirian</option>
                        <option value="equatorial guinean">Equatorial Guinean</option>
                        <option value="eritrean">Eritrean</option>
                        <option value="estonian">Estonian</option>
                        <option value="ethiopian">Ethiopian</option>
                        <option value="fijian">Fijian</option>
                        <option value="filipino">Filipino</option>
                        <option value="finnish">Finnish</option>
                        <option value="french">French</option>
                        <option value="gabonese">Gabonese</option>
                        <option value="gambian">Gambian</option>
                        <option value="georgian">Georgian</option>
                        <option value="german">German</option>
                        <option value="ghanaian">Ghanaian</option>
                        <option value="greek">Greek</option>
                        <option value="grenadian">Grenadian</option>
                        <option value="guatemalan">Guatemalan</option>
                        <option value="guinea-bissauan">Guinea-Bissauan</option>
                        <option value="guinean">Guinean</option>
                        <option value="guyanese">Guyanese</option>
                        <option value="haitian">Haitian</option>
                        <option value="herzegovinian">Herzegovinian</option>
                        <option value="honduran">Honduran</option>
                        <option value="hungarian">Hungarian</option>
                        <option value="icelander">Icelander</option>
                        <option value="indian">Indian</option>
                        <option value="indonesian">Indonesian</option>
                        <option value="iranian">Iranian</option>
                        <option value="iraqi">Iraqi</option>
                        <option value="irish">Irish</option>
                        <option value="israeli">Israeli</option>
                        <option value="italian">Italian</option>
                        <option value="ivorian">Ivorian</option>
                        <option value="jamaican">Jamaican</option>
                        <option value="japanese">Japanese</option>
                        <option value="jordanian">Jordanian</option>
                        <option value="kazakhstani">Kazakhstani</option>
                        <option value="kenyan">Kenyan</option>
                        <option value="kittian and nevisian">Kittian and Nevisian</option>
                        <option value="kuwaiti">Kuwaiti</option>
                        <option value="kyrgyz">Kyrgyz</option>
                        <option value="laotian">Laotian</option>
                        <option value="latvian">Latvian</option>
                        <option value="lebanese">Lebanese</option>
                        <option value="liberian">Liberian</option>
                        <option value="libyan">Libyan</option>
                        <option value="liechtensteiner">Liechtensteiner</option>
                        <option value="lithuanian">Lithuanian</option>
                        <option value="luxembourger">Luxembourger</option>
                        <option value="macedonian">Macedonian</option>
                        <option value="malagasy">Malagasy</option>
                        <option value="malawian">Malawian</option>
                        <option value="malaysian">Malaysian</option>
                        <option value="maldivan">Maldivan</option>
                        <option value="malian">Malian</option>
                        <option value="maltese">Maltese</option>
                        <option value="marshallese">Marshallese</option>
                        <option value="mauritanian">Mauritanian</option>
                        <option value="mauritian">Mauritian</option>
                        <option value="mexican">Mexican</option>
                        <option value="micronesian">Micronesian</option>
                        <option value="moldovan">Moldovan</option>
                        <option value="monacan">Monacan</option>
                        <option value="mongolian">Mongolian</option>
                        <option value="moroccan">Moroccan</option>
                        <option value="mosotho">Mosotho</option>
                        <option value="motswana">Motswana</option>
                        <option value="mozambican">Mozambican</option>
                        <option value="namibian">Namibian</option>
                        <option value="nauruan">Nauruan</option>
                        <option value="nepalese">Nepalese</option>
                        <option value="new zealander">New Zealander</option>
                        <option value="ni-vanuatu">Ni-Vanuatu</option>
                        <option value="nicaraguan">Nicaraguan</option>
                        <option value="nigerien">Nigerien</option>
                        <option value="north korean">North Korean</option>
                        <option value="northern irish">Northern Irish</option>
                        <option value="norwegian">Norwegian</option>
                        <option value="omani">Omani</option>
                        <option value="pakistani">Pakistani</option>
                        <option value="palauan">Palauan</option>
                        <option value="panamanian">Panamanian</option>
                        <option value="papua new guinean">Papua New Guinean</option>
                        <option value="paraguayan">Paraguayan</option>
                        <option value="peruvian">Peruvian</option>
                        <option value="polish">Polish</option>
                        <option value="portuguese">Portuguese</option>
                        <option value="qatari">Qatari</option>
                        <option value="romanian">Romanian</option>
                        <option value="russian">Russian</option>
                        <option value="rwandan">Rwandan</option>
                        <option value="saint lucian">Saint Lucian</option>
                        <option value="salvadoran">Salvadoran</option>
                        <option value="samoan">Samoan</option>
                        <option value="san marinese">San Marinese</option>
                        <option value="sao tomean">Sao Tomean</option>
                        <option value="saudi">Saudi</option>
                        <option value="scottish">Scottish</option>
                        <option value="senegalese">Senegalese</option>
                        <option value="serbian">Serbian</option>
                        <option value="seychellois">Seychellois</option>
                        <option value="sierra leonean">Sierra Leonean</option>
                        <option value="singaporean">Singaporean</option>
                        <option value="slovakian">Slovakian</option>
                        <option value="slovenian">Slovenian</option>
                        <option value="solomon islander">Solomon Islander</option>
                        <option value="somali">Somali</option>
                        <option value="south african">South African</option>
                        <option value="south korean">South Korean</option>
                        <option value="spanish">Spanish</option>
                        <option value="sri lankan">Sri Lankan</option>
                        <option value="sudanese">Sudanese</option>
                        <option value="surinamer">Surinamer</option>
                        <option value="swazi">Swazi</option>
                        <option value="swedish">Swedish</option>
                        <option value="swiss">Swiss</option>
                        <option value="syrian">Syrian</option>
                        <option value="taiwanese">Taiwanese</option>
                        <option value="tajik">Tajik</option>
                        <option value="tanzanian">Tanzanian</option>
                        <option value="thai">Thai</option>
                        <option value="togolese">Togolese</option>
                        <option value="tongan">Tongan</option>
                        <option value="trinidadian or tobagonian">Trinidadian or Tobagonian</option>
                        <option value="tunisian">Tunisian</option>
                        <option value="turkish">Turkish</option>
                        <option value="tuvaluan">Tuvaluan</option>
                        <option value="ugandan">Ugandan</option>
                        <option value="ukrainian">Ukrainian</option>
                        <option value="uruguayan">Uruguayan</option>
                        <option value="uzbekistani">Uzbekistani</option>
                        <option value="venezuelan">Venezuelan</option>
                        <option value="vietnamese">Vietnamese</option>
                        <option value="welsh">Welsh</option>
                        <option value="yemenite">Yemenite</option>
                        <option value="zambian">Zambian</option>
                        <option value="zimbabwean">Zimbabwean</option>
                    </select>
                    <button type="submit" class="btn btn-primary mt-4">
                        <span class="btn-inner--icon"><i class="fa fa-user-plus mr-2"></i></span>
                        Submit
                    </button>
                </form>
                        <div class="card-container">
                            <div class="card-metric">
                                <div class="metric" th:text="${dosesByNationality} + ' ' + ${country}"></div>
                                <p>people have been vaccinated</p>
                            </div>
                            <div class="card-metric">
                                <div class="metric" th:text="${maleDosePercent} + '%'"></div>
                                <p>of vaccinated people are male</p>
                            </div>
                                <div class="card-metric">
                                    <div class="metric"  th:text="${femaleDosePercent} + '%'"></div>
                                    <p>of vaccinated people are female</p>
                                </div>
                        </div>


                <!-- Gender Distribution Chart -->
                <h3 class="mt-5">Gender Distribution</h3>
                <canvas id="genderChart"></canvas>

                <!-- Age Distribution Chart -->
                <h3 class="mt-5">Age Distribution</h3>
                <canvas id="ageChart"></canvas>

                <!-- Nationality Distribution Chart -->
                <h3 class="mt-5">Nationality Distribution</h3>
                <canvas id="nationalityMap"></canvas>

                <div>
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="fragments/footer :: footer"></footer>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-chart-geo@3"></script>

<script th:inline="javascript">

    /*<![CDATA[*/
    document.addEventListener('DOMContentLoaded', function () {
    // Gender Distribution chart
    // Get the values from Thymeleaf variables
    const malePercent = /*[[${maleDosePercent}]]*/ 0;
    const femalePercent = /*[[${femaleDosePercent}]]*/ 0;

    // console.log('Male Percent:', malePercent); // Print the value of malePercent
    // console.log('Female Percent:', femalePercent); // Print the value of femalePercent

    // Gender Distribution Chart
    const genderCtx = document.getElementById('genderChart')
    new Chart(genderCtx, {
        type: 'pie',
        data: {
            labels: ['Male', 'Female'],
            datasets: [{
                data: [malePercent, femalePercent],
                backgroundColor: ['#36A2EB', '#FF6384'],
                hoverBackgroundColor: ['#36A2EB', '#FF6384']
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Gender Distribution of Vaccinated People'
                },
                tooltip: {
                    callbacks: {
                        label: function(tooltipItem) {
                            return tooltipItem.label + ': ' + tooltipItem.raw + '%';
                        }
                    }
                }
            },

        },
    });


        // Age Distribution Chart
        const ageCtx = document.getElementById('ageChart').getContext('2d');
        const ageLabels = /*[[${ageRangeLabels}]]*/;
        const ageValues = /*[[${ageRangeValues}]]*/;

        // Generate random colors for each bar
        const backgroundColors = ageValues.map(() => `#${Math.floor(Math.random() * 16777215).toString(16)}`);
        const hoverBackgroundColors = backgroundColors.map(color => {
            // Generate a slightly darker color for hover
            let colorInt = parseInt(color.slice(1), 16);
            colorInt = colorInt & 0xfefefe >> 1;
            return `#${colorInt.toString(16).padStart(6, '0')}`;
        });

        const ageData = {
            labels: ageLabels,
            datasets: [{
                label: 'Number of People',
                data: ageValues,
                backgroundColor: backgroundColors,
                hoverBackgroundColor: hoverBackgroundColors,
            }]
        };
        const ageChart = new Chart(ageCtx, {
            type: 'bar',
            data: ageData,
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        display: false
                    },
                    title: {
                        display: true,
                        text: 'Age Distribution of Vaccinated People'
                    },
                    datalabels: {

                        color: function(context) {
                            return context.data.backgroundColor;
                        },
                        font: function(context) {
                            const w = context.chart.width;
                            return {
                                size: w < 512 ? 12 : 14,
                                weight: 'bold',
                            };
                        },
                        formatter: function(value, context) {
                            return context.chart.data.labels[context.dataIndex];
                        }
                    }
                },
                scales: {
                    x: {
                        title: {
                            display: true,
                            text: 'Age Range'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of People'
                        },
                        beginAtZero: true,
                        ticks: {
                            stepSize: 1,
                            callback: function(value) {
                                if (Number.isInteger(value)) {
                                    return value;
                                }
                            }
                        }
                    }
                }
            },
        });


    });




    document.addEventListener('DOMContentLoaded', function() {
        // Injecting Thymeleaf variables into JavaScript
        const nationalityLabels = /*[[${nationalityLabels}]]*/ [];
        const nationalityValues = /*[[${nationalityValues}]]*/ [];


        // Debug: Log the injected data
        console.log('Nationality Labels:', nationalityLabels);
        console.log('Nationality Values:', nationalityValues);

        const mapCtx = document.getElementById('nationalityMap').getContext('2d');

        fetch('https://unpkg.com/world-atlas/countries-50m.json')
            .then((r) => r.json())
            .then((data) => {
                const countries = ChartGeo.topojson.feature(data, data.objects.countries).features;
                console.log('Countries:', countries);

                // Create a mapping of country names if necessary
                const countryNameMap = {
                    "Zimbabwe": "zimbabwean",
                    "Zambia": "zambian",
                    "Yemen": "yemenite",
                    "Vietnam": "vietnamese",
                    "Venezuela": "venezuelan",
                    "Vatican": "vatican",
                    "Vanuatu": "vanuatu",
                    "Uzbekistan": "uzbekistani",
                    "Uruguay": "uruguayan",
                    "Micronesia": "micronesian",
                    "Marshall Is.": "marshallese",
                    "N. Mariana Is.": "northern mariana islands",
                    "U.S. Virgin Is.": "u.s. virgin islands",
                    "Guam": "guam",
                    "American Samoa": "american samoan",
                    "Puerto Rico": "puerto rican",
                    "United States of America": "american",
                    "S. Geo. and the Is.": "south georgia and the south sandwich islands",
                    "Br. Indian Ocean Ter.": "british indian ocean territory",
                    "Saint Helena": "saint helenian",
                    "Pitcairn Is.": "pitcairn islander",
                    "Anguilla": "anguillan",
                    "Falkland Is.": "falkland islander",
                    "Cayman Is.": "caymanian",
                    "Bermuda": "bermudian",
                    "British Virgin Is.": "british virgin islands",
                    "Turks and Caicos Is.": "turks and caicos islander",
                    "Montserrat": "montserratian",
                    "Jersey": "jersey",
                    "Guernsey": "guernsey",
                    "Isle of Man": "isle of man",
                    "United Kingdom": "british",
                    "United Arab Emirates": "emirian",
                    "Ukraine": "ukrainian",
                    "Uganda": "ugandan",
                    "Turkmenistan": "turkmen",
                    "Turkey": "turkish",
                    "Tunisia": "tunisian",
                    "Trinidad and Tobago": "trinidadian and tobagonian",
                    "Tonga": "tongan",
                    "Togo": "togolese",
                    "Timor-Leste": "east timorese",
                    "Thailand": "thai",
                    "Tanzania": "tanzanian",
                    "Tajikistan": "tajik",
                    "Taiwan": "taiwanese",
                    "Syria": "syrian",
                    "Switzerland": "swiss",
                    "Sweden": "swedish",
                    "eSwatini": "swazi",
                    "Suriname": "surinamer",
                    "S. Sudan": "south sudanese",
                    "Sudan": "sudanese",
                    "Sri Lanka": "sri lankan",
                    "Spain": "spanish",
                    "South Korea": "south korean",
                    "South Africa": "south african",
                    "Somalia": "somali",
                    "Somaliland": "somaliland",
                    "Solomon Is.": "solomon islander",
                    "Slovakia": "slovakian",
                    "Slovenia": "slovenian",
                    "Singapore": "singaporean",
                    "Sierra Leone": "sierra leonean",
                    "Seychelles": "seychellois",
                    "Serbia": "serbian",
                    "Senegal": "senegalese",
                    "Saudi Arabia": "saudi",
                    "São Tomé and Principe": "sao tomean",
                    "San Marino": "san marinese",
                    "Samoa": "samoan",
                    "St. Vin. and Gren.": "saint vincentian",
                    "Saint Lucia": "saint lucian",
                    "St. Kitts and Nevis": "saint kitts and nevis",
                    "Rwanda": "rwandan",
                    "Russia": "russian",
                    "Romania": "romanian",
                    "Qatar": "qatari",
                    "Portugal": "portuguese",
                    "Poland": "polish",
                    "Philippines": "filipino",
                    "Peru": "peruvian",
                    "Paraguay": "paraguayan",
                    "Papua New Guinea": "papua new guinean",
                    "Panama": "panamanian",
                    "Palau": "palauan",
                    "Pakistan": "pakistani",
                    "Oman": "omani",
                    "Norway": "norwegian",
                    "North Korea": "north korean",
                    "Nigeria": "nigerian",
                    "Niger": "nigerien",
                    "Nicaragua": "nicaraguan",
                    "New Zealand": "new zealander",
                    "Niue": "niuean",
                    "Cook Is.": "cook islands",
                    "Netherlands": "dutch",
                    "Aruba": "aruban",
                    "Curaçao": "curacao",
                    "Nepal": "nepalese",
                    "Nauru": "nauruan",
                    "Namibia": "namibian",
                    "Mozambique": "mozambican",
                    "Morocco": "moroccan",
                    "W. Sahara": "western saharan",
                    "Montenegro": "montenegrin",
                    "Mongolia": "mongolian",
                    "Moldova": "moldovan",
                    "Monaco": "monacan",
                    "Mexico": "mexican",
                    "Mauritius": "mauritian",
                    "Mauritania": "mauritanian",
                    "Malta": "maltese",
                    "Mali": "malian",
                    "Maldives": "maldivan",
                    "Malaysia": "malaysian",
                    "Malawi": "malawian",
                    "Madagascar": "malagasy",
                    "Macedonia": "macedonian",
                    "Luxembourg": "luxembourger",
                    "Lithuania": "lithuanian",
                    "Liechtenstein": "liechtensteiner",
                    "Libya": "libyan",
                    "Liberia": "liberian",
                    "Lesotho": "basotho",
                    "Lebanon": "lebanese",
                    "Latvia": "latvian",
                    "Laos": "laotian",
                    "Kyrgyzstan": "kyrgyz",
                    "Kuwait": "kuwaiti",
                    "Kosovo": "kosovar",
                    "Kiribati": "i-kiribati",
                    "Kenya": "kenyan",
                    "Kazakhstan": "kazakhstani",
                    "Jordan": "jordanian",
                    "Japan": "japanese",
                    "Jamaica": "jamaican",
                    "Italy": "italian",
                    "Israel": "israeli",
                    "Palestine": "palestinian",
                    "Ireland": "irish",
                    "Iraq": "iraqi",
                    "Iran": "iranian",
                    "Indonesia": "indonesian",
                    "India": "indian",
                    "Iceland": "icelander",
                    "Hungary": "hungarian",
                    "Honduras": "honduran",
                    "Haiti": "haitian",
                    "Guyana": "guyanese",
                    "Guinea-Bissau": "guinea-bissauan",
                    "Guinea": "guinean",
                    "Guatemala": "guatemalan",
                    "Grenada": "grenadian",
                    "Greece": "greek",
                    "Ghana": "ghanaian",
                    "Germany": "german",
                    "Georgia": "georgian",
                    "Gambia": "gambian",
                    "Gabon": "gabonese",
                    "France": "french",
                    "St. Pierre and Miquelon": "st pierre and miquelon",
                    "Wallis and Futuna Is.": "wallis and futuna",
                    "St-Martin": "saint-martin",
                    "St-Barthélemy": "saint barthelemy",
                    "Fr. Polynesia": "french polynesian",
                    "New Caledonia": "new caledonian",
                    "Fr. S. Antarctic Lands": "french southern and antarctic lands",
                    "Åland": "aland islands",
                    "Finland": "finnish",
                    "Fiji": "fijian",
                    "Ethiopia": "ethiopian",
                    "Estonia": "estonian",
                    "Eritrea": "eritrean",
                    "Eq. Guinea": "equatorial guinean",
                    "El Salvador": "salvadoran",
                    "Egypt": "egyptian",
                    "Ecuador": "ecuadorean",
                    "Dominican Rep.": "dominican",
                    "Dominica": "dominican",
                    "Djibouti": "djibouti",
                    "Greenland": "greenlander",
                    "Faeroe Is.": "faroe islander",
                    "Denmark": "danish",
                    "Czechia": "czech",
                    "N. Cyprus": "northern cypriot",
                    "Cyprus": "cypriot",
                    "Cuba": "cuban",
                    "Croatia": "croatian",
                    "Côte d'Ivoire": "ivorian",
                    "Costa Rica": "costa rican",
                    "Dem. Rep. Congo": "congolese",
                    "Congo": "congolese",
                    "Comoros": "comoran",
                    "Colombia": "colombian",
                    "China": "chinese",
                    "Macao": "macanese",
                    "Hong Kong": "hong konger",
                    "Chile": "chilean",
                    "Chad": "chadian",
                    "Central African Rep.": "central african",
                    "Cabo Verde": "cape verdean",
                    "Canada": "canadian",
                    "Cameroon": "cameroonian",
                    "Cambodia": "cambodian",
                    "Myanmar": "burmese",
                    "Burundi": "burundian",
                    "Burkina Faso": "burkinabe",
                    "Bulgaria": "bulgarian",
                    "Brunei": "bruneian",
                    "Brazil": "brazilian",
                    "Botswana": "batswana",
                    "Bosnia and Herz.": "bosnian",
                    "Bolivia": "bolivian",
                    "Bhutan": "bhutanese",
                    "Benin": "beninese",
                    "Belize": "belizean",
                    "Belgium": "belgian",
                    "Belarus": "belarusian",
                    "Barbados": "barbadian",
                    "Bangladesh": "bangladeshi",
                    "Bahrain": "bahraini",
                    "Bahamas": "bahamian",
                    "Azerbaijan": "azerbaijani",
                    "Austria": "austrian",
                    "Australia": "australian",
                    "Indian Ocean Ter.": "indian ocean territory",
                    "Heard I. and McDonald Is.": "heard island and mcdonald islands",
                    "Norfolk Island": "norfolk islander",
                    "Ashmore and Cartier Is.": "ashmore and cartier islands",
                    "Armenia": "armenian",
                    "Argentina": "argentinean",
                    "Antigua and Barb.": "antiguan and barbudan",
                    "Angola": "angolan",
                    "Andorra": "andorran",
                    "Algeria": "algerian",
                    "Albania": "albanian",
                    "Afghanistan": "afghan",
                    "Siachen Glacier": "siachen glacier",
                    "Antarctica": "antarctic",
                    "Sint Maarten": "sint maarten"
                };

                const countryData = countries.map(country => {
                    let countryName = country.properties.name;
                    if (countryNameMap[countryName]) {
                        countryName = countryNameMap[countryName];
                    }
                    const nationalityIndex = nationalityLabels.findIndex(label => label.toLowerCase() === countryName.toLowerCase());
                    const value = nationalityIndex >= 0 ? nationalityValues[nationalityIndex] : 0;
                    console.log('Country:', country.properties.name, 'Mapped Name:', countryName, 'Value:', value);
                    return {
                        feature: country,
                        value: value
                    };
                });


                new Chart(mapCtx, {
                    type: 'choropleth',
                    data: {
                        labels: countries.map(country => country.properties.name),
                        datasets: [{
                            hoverBackgroundColor: "blue",
                            outline: countries,
                            label: 'Nationality Distribution',
                            data: countryData,
                            borderColor: 'rgb(59,140,225)',
                        }]
                    },
                    options: {
                        showOutline: true,
                        showGraticule: true,
                        plugins: {
                            legend: {
                                display: true
                            }
                        },
                        scales: {
                            xy: {
                                projection: 'equalEarth'
                            }
                        }
                    }
                });
            });
    });



    /*]]>*/

</script>
</body>

</html>